* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  background: url("wake.png") no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: rgb(255, 255, 254);
  width: 350px;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25);
}

h1 {
  margin-bottom: 20px;
  font-size: 32px;
}

.inputs {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
}

.inputs input {
  width: 60px;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  background: #3b82f6;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}

.alarms {
  text-align: left;
}

.alarm-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 8px;
  border-bottom: 1px solid #ddd;
}

.toggle {
  width: 40px;
  height: 20px;
  background: #ccc;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
}

.toggle.active {
  background: #3b82f6;
}

.toggle::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background: white;
  border-radius: 50%;
  top: 1px;
  left: 1px;
  transition: 0.3s;
}

.toggle.active::before {
  left: 21px;
}

.delete {
  cursor: pointer;
  margin-left: 10px;
}
